<div class="card">
    <form action="/save" method="POST"></form>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="<%= users.email %>">
            </div>
            <div class="form-group col-md-4">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="email" placeholder="<%= users.username %>">
            </div>
            <div class="form-group col-md-2">
                <label for="level">Level</label>
                <input type="number" class="form-control" id="userLevel" name="userLevel"
                    placeholder="<%= users.level %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="oldPw">Old Password</label>
                <input type="password" class="form-control" id="oldPw" name="oldPw">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">New Password</label>
                <input type="password" class="form-control" id="newPw">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Confirm New Password</label>
                <input type="password" class="form-control" id="checkNewPw">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="attack">Attack</label>
                <input type="number" class="form-control" id="userAttack" name="userAttack"
                    placeholder="<%= users.attack %>">
            </div>
            <div class="form-group col-md-4">
                <label for="level">Level</label>
                <input type="number" class="form-control" id="userLevel" name="userLevel"
                    placeholder="<%= users.level %>">
            </div>
            <div class="form-group col-md-4">
                <label for="level">Level</label>
                <input type="number" class="form-control" id="userLevel" name="userLevel"
                    placeholder="<%= users.level %>">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
    </div>
    </form>
</div>