<% if(user) { %>
<div class="card border-success mb-3" id="accountCard">
    <div class="card-body">
        <%if(changes.length != 0) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= changes %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <%if(success.length != 0) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <div class="row" id="mainRow">
            <div class="col-4">
                <div class="nav flex-column nav-pills" id="accountTabs" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="general-tab" data-toggle="pill" href="#general" role="tab" aria-controls="general" aria-selected="true">
                        General
                    </a>
                    <a class="nav-link" id="email-tab" data-toggle="pill" href="#email" role="tab" aria-controls="email" aria-selected="false">
                        Email
                    </a>
                    <a class="nav-link" id="passwords-tab" data-toggle="pill" href="#passwords" role="tab" aria-controls="passwords" aria-selected="false">
                        Password
                    </a>
                </div>
            </div>
            <div class="col-8" id="content">
                <div class="tab-content" id="accountTabsContent">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <div class="row">
                            <div class="col-8">
                                <div class="card" id="userForm">
                                    <div class="card-title">
                                        <p>In here you can change your username for 1000 coins, attention that it will
                                            check if the username already exists before changing it</p>
                                    </div>
                                    <form action="/account/<%=locals.user.id%>" method="POST">
                                        <input type="hidden" class="form-control" id="formInfo" name="formInfo"
                                            value="general">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                value="<%= user.username %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Confirm Password</label>
                                            <input type="password" class="form-control" id="password" name="password" required>
                                        </div>
                                        <button type="submit" class="btn btn-outline-success float-right">Save</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card" id="currentUser">
                                    <img src="/images/users/avatar.png" class="card-img-top">
                                    <div class="card-header">
                                        <span id="userName"><%= user.username %> </span><br>
                                        <span id="userLevel">Lvl.<%= user.level %></span><br>
                                        <span id="userCoins">Coins: <%= user.coins %> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                        <div class="row">
                            <div class="col-8">
                                <div class="card" id="userForm">
                                    <div class="card-title">
                                        <p>In here you can change the email for this account, this will cost you 10000 coins, unless you can provide proof that your email was stolen to a admin this cost will always apply.</p>
                                    </div>
                                    <form action="/account/<%=locals.user.id%>" method="POST">
                                        <input type="hidden" class="form-control" id="formInfo" name="formInfo"
                                            value="email">
                                        <div class="form-group">
                                            <label for="email">Current email</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                value="<%= user.email %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="newEmail">New email</label>
                                            <input type="email" class="form-control" id="newEmail" name="newEmail">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmNewEmail">Confirm new email</label>
                                            <input type="email" class="form-control" id="confirmNewEmail" name="confirmNewEmail">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Confirm Password</label>
                                            <input type="password" class="form-control" id="password" name="password" required>
                                        </div>
                                        <button type="submit" class="btn btn-outline-success float-right">Save</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card" id="currentUser">
                                    <img src="/images/users/avatar.png" class="card-img-top">
                                    <div class="card-header">
                                        <span id="userName"><%= user.username %> </span><br>
                                        <span id="userLevel">Lvl.<%= user.level %></span><br>
                                        <span id="userCoins">Coins: <%= user.coins %> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="passwords" role="tabpanel" aria-labelledby="passwords-tab">
                        <div class="row">
                            <div class="col-8">
                                <div class="card" id="userForm">
                                    <div class="card-title">
                                        <p>Change your password, dont forget to make it secure!</p>
                                    </div>
                                    <form action="/account/<%=locals.user.id%>" method="POST">
                                        <input type="hidden" class="form-control" id="formInfo" name="formInfo"
                                            value="password">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Current Password</label>
                                            <input type="password" class="form-control" id="password" name="password" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="newPassword">New Password</label>
                                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="confNewPassword">Confirm New Password</label>
                                            <input type="password" class="form-control" id="confNewPassword" name="confNewPassword" required>
                                        </div>
                                        <button type="submit" class="btn btn-outline-success float-right">Save</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card" id="currentUser">
                                    <img src="/images/users/avatar.png" class="card-img-top">
                                    <div class="card-header">
                                        <span id="userName"><%= user.username %> </span><br>
                                        <span id="userLevel">Lvl.<%= user.level %></span><br>
                                        <span id="userCoins">Coins: <%= user.coins %> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>




</div>
<% } %>