<div class="card border-success" id="updateCard">
    <%if(success.length != 0) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }  %> 
    <div class="card-header">
        <h3 class="text-success">Upgrade your character!</h3>
    </div>
    <div class="alert alert-danger" role="alert" id="err0">
        You don't have any more points to add!
    </div>
    <div class="alert alert-danger" role="alert" id="err1">
        You cannot downgrade your stats!
    </div>
    <div class="alert alert-danger" role="alert" id="err2">
        You can only update HP with 5 points!
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="upgrades" data-toggle="list"
                        href="#upgradeTab" role="tab" aria-controls="upgradeTab">Upgrades</a>
                    <a class="list-group-item list-group-item-action" id="armor" data-toggle="list" href="#armorTab"
                        role="tab" aria-controls="armorTab">Armor</a>
                    <a class="list-group-item list-group-item-action" id="consumables" data-toggle="list"
                        href="#consumablesTab" role="tab" aria-controls="consumablesTab">Consumables</a>
                    <a href="#" class="list-group-item list-group-item-action readonly" id='info'>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Information</h5>
                        </div>
                        <p class="mb-1">In each of the above tabs you can select what you want do to you character</p>
                        <ul>
                            <li>
                                In <strong>Upgrades</strong> you can upgrade your stats
                            </li>
                            <li>
                                In <strong>Armor</strong> you can select the current armor you want to equip so that you can get permanent stat buffs
                            </li>
                            <li>
                                In <strong>Consumables</strong> you can consume items you get while exploring and recover HP and/or buff your stats
                            </li>
                        </ul>

                    </a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="upgradeTab" role="tabpanel" aria-labelledby="upgrade">
                        <form action="/user/<%= user.id %> " method="POST">
                            <div class="form-row">

                                <input type="text" class="form-control" id="userPoints" name="userPoints"
                                    value="<%= user.pointsToAdd %>" hidden>

                                <div class="form-group ml-2" id="updateStats">
                                    <div class="form-group" id="attack">
                                        <label for="userAttack">Attack</label>
                                        <input type="text" class="form-control" id="userAttack" name="userAttack"
                                            value="<%= user.attack %>" readonly style="text-align: center;">
                                        <i class="fas fa-plus fa-2x pl-2 pt-1"></i>
                                        <i class="fas fa-minus fa-2x pl-2 pt-1"></i>
                                    </div>

                                    <div class="form-group" id="defense">
                                        <label for="userDefense">Defense</label>
                                        <input type="text" class="form-control" id="userDefense" name="userDefense"
                                            value="<%= user.defense %>" readonly style="text-align: center;">
                                        <i class="fas fa-plus fa-2x pl-2 pt-1"></i>
                                        <i class="fas fa-minus fa-2x pl-2 pt-1"></i>
                                    </div>

                                    <div class="form-group" id="hp">
                                        <label for="userHP">HP</label>
                                        <input type="text" class="form-control" id="userHP" name="userHP"
                                            value="<%= user.HP %>" readonly style="text-align: center;">
                                        <i class="fas fa-plus fa-2x pl-2 pt-1"></i>
                                        <i class="fas fa-minus fa-2x pl-2 pt-1"></i>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-success btn-block">Save</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="armorTab" role="tabpanel" aria-labelledby="armor">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col">name</th>
                                    <th scope="col">category</th>
                                    <th scope="col">equiped</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i = 0; i < bag.length; i++) { %>
                                    <% if (bag[i].equipable) { %>
                                        <tr>
                                            <td><%= bag[i].name %></td>
                                            <td><%= bag[i].category %></td>
                                            <td><%= bag[i].equiped == true ? 'Yes' : 'No' %></td>
                                            <td><a href="user/equip/<%= bag[i].id %>"><i class="fas fa-check"></i></a></i></td>
                                        </tr>
                                    <% } %> 
                                <% } %>
                                </tbody>
                    
                        </table>
                    </div>
                    <div class="tab-pane fade" id="consumablesTab" role="tabpanel" aria-labelledby="consumables">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col">name</th>
                                    <th scope="col">effects</th>
                                    <th scope="col"></th>
                                    <th scope="col">quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i = 0; i < bag.length; i++) { %>
                                    <% if (!bag[i].equipable) { %>
                                        <tr data-id="<%= bag[i].id %>" data-target="#itemModal">
                                            <td><%= bag[i].name %></td>
                                            <td>Attack:<%= bag[i].effects.attack %></td>
                                            <td>Defense: <%= bag[i].effects.defense %> </td>
                                            <td><%= bag[i].quantity %></td>
                                            <td><a href="/equip/<%= bag[i].id %>"></a><i class="fas fa-check"></i></td>
                                        </tr>
                                    <% } %> 
                                <% } %>
                                </tbody>         
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal faded" id="itemModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModal">Congratulations! You beat ! </h5>
            </div>
            
                <div class="modal-body">
                    <p>Your rewards are: </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>

        </div>
    </div>
</div>