<div class="card border-success" id ="updateCard">
    <div class="card-header">
        <h3 class="text-success">Upgrade your character!</h3>
    </div>
    <div class="alert alert-danger" role="alert" id="err0">
        You don't have any more points to add!
    </div>
    <div class="alert alert-danger" role="alert" id="err1">
        You cannot downgrade your stats!
    </div>
    <div class="alert alert-danger" role="alert" id="err2">
        You can only update HP with 5 points!
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <form action="/user/<%= user.id %> " method="POST">
                    <div class="form-row">
                        <div class="form-group mr-2">
                            <div class="form-group">
                                <label for="userLevel">Level</label>
                                <input type="text" class="form-control" id="userLevel" name="userLevel" readonly
                                    value="<%= user.level %>" style="text-align: center;">
                            </div>
                            <div class="form-group">
                                <label for="userStory">Story Level</label>
                                <input type="text" class="form-control" id="userStory" name="userStory"
                                    value="<%= user.storyLvl %>" readonly style="text-align: center;">
                            </div>
                            <div class="form-group">
                                <label for="userPoints">Points To Add</label>
                                <input type="text" class="form-control" id="userPoints" name="userPoints"
                                    value="<%= user.pointsToAdd %>" readonly style="text-align: center;">
                            </div>
                        </div>
                        <div class="form-group ml-2" id="updateStats">
                            <div class="form-group" id="attack">
                                <label for="userAttack">Attack</label>
                                <input type="text" class="form-control" id="userAttack" name="userAttack"
                                    value="<%= user.attack %>" readonly style="text-align: center;">
                                <i class="fas fa-plus fa-2x pl-2 pt-1"></i>
                                <i class="fas fa-minus fa-2x pl-2 pt-1"></i>
                            </div>

                            <div class="form-group" id="defense">
                                <label for="userDefense">Defense</label>
                                <input type="text" class="form-control" id="userDefense" name="userDefense"
                                    value="<%= user.defense %>" readonly style="text-align: center;">
                                <i class="fas fa-plus fa-2x pl-2 pt-1"></i>
                                <i class="fas fa-minus fa-2x pl-2 pt-1"></i>
                            </div>

                            <div class="form-group" id="hp">
                                <label for="userHP">HP</label>
                                <input type="text" class="form-control" id="userHP" name="userHP"
                                    value="<%= user.HP %>" readonly style="text-align: center;">
                                <i class="fas fa-plus fa-2x pl-2 pt-1"></i>
                                <i class="fas fa-minus fa-2x pl-2 pt-1"></i>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-block">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>